<!DOCTYPE html>
<html>
<head>
    <title>Doctors - NalamConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>♡ NalamConnect</h2>
    <div>
        <a href="/">Home</a>
        <a href="/doctors">Doctors</a>
        <a href="/book">Book Appointment</a>
        <a href="/appointments">My Appointments</a>
    </div>
</nav>

<div class="page">
    <h1>Our Doctors</h1>

    {% for doctor in doctors %}
    <div class="card">
        <h2>{{ doctor["name"] }}</h2>
        <p>{{ doctor["specialization"] }}</p>
    </div>
    {% endfor %}
</div>

</body>
</html>