<!DOCTYPE html>
<html>
<head>
    <title>NalamConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>♡ NalamConnect</h2>

    <div>
        <a href="/">Home</a>
        <a href="/doctors">Doctors</a>
        <a href="/book">Book Appointment</a>
        <a href="/appointments">My Appointments</a>
    </div>
</nav>

<section class="hero">

    <div class="hero-text">

        <p class="small-title">ONLINE HOSPITAL APPOINTMENT SYSTEM</p>

        <h1>
            From timeless wisdom<br>
            to <span>timely care.</span>
        </h1>

        <p>
            Connect with the right doctor, choose a convenient
            appointment and take the next step toward better care.
        </p>

        <div>
            <a class="button" href="/book">Book Appointment</a>
            <a class="button secondary" href="/doctors">Find a Doctor</a>
        </div>

    </div>

    <div class="quote">

        <div class="quote-symbol">“</div>

        <h2>
            நோய்நாடி நோய்முதல் நாடி<br>
            அதுதணிக்கும் வாய்நாடி<br>
            வாய்ப்பச் செயல்.
        </h2>

        <p>— திருவள்ளுவர்</p>

        <small>
            Understand the illness. Discover the cause.
            Find the right care.
        </small>

    </div>

</section>

<section class="features">

    <div>
        <h3>👨‍⚕️ Find Doctors</h3>
        <p>Explore doctors by medical specialization.</p>
    </div>

    <div>
        <h3>📅 Easy Booking</h3>
        <p>Select your preferred date and available time.</p>
    </div>

    <div>
        <h3>📋 Track Appointments</h3>
        <p>View your booked appointments in one place.</p>
    </div>

</section>

<footer>
    <h3>NalamConnect</h3>
    <p>Connecting people with timely healthcare.</p>
</footer>

</body>
</html>